.sidebar {
    background-color: #2B2E33;
    position: fixed;
    right: 0;
    top: 0;
    text-align: left;
    width: 250px;
    height: 100%;
    z-index: 1111;
    transition: transform .5s ease-in-out;
    transform: translateX(250px);
}

.sidebarTransform {
    transform: translateX(0);
    transition: transform .5s ease-in-out;
}