header {
    position: fixed;
    top: 0;
    width: 100%;
}

/*HEADER CONTAINER */
.flex-container-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

/*HEADER ITEM 2 */
.flex-items-header:nth-child(2) {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    align-self: center;
    order: 0;
    text-align: center;
}

/* BOOKMARK BUTTON */
.bookmarkBtn {
    padding: 5px;
    margin: 5px;
    width: 40px;
    height: 80%;
    border: none;
    background-color: transparent;
    color: #673ab7;
    cursor: pointer;
}

.bookmarkBtn:hover {
    color: #7e57c2;
}

/* BOOK NAME */
#bookName {
    font-size: 20px;
}

/* MENU BUTTON */
.menuBtn {
    height: 100%;
    width: 60px;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #673ab7;
    border: none;
}

.menuBtn:hover {
    background-color: #7e57c2;
}

