header {
    position: fixed;
    top: 0;
    width: 100%;
}

/*HEADER CONTAINER */
.flex-container-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

/*HEADER ITEM 1 */
.flex-items-header:nth-child(1) {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    align-self: center;
    order: 0;
    text-align: center;
}

#bookName {
    font-size: 20px;
}

/* MENU BUTTON */
.menuBtn {
    height: 100%;
    width: 60px;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #673ab7;
    border: none;
}

.menuBtn:hover {
    background-color: #7e57c2;
}

