/* MODAL BODY CONTAINER */
.flex-container-tools {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

.flex-items-tools:nth-child(-n+10) {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
}

/* SELECT DESIGN */
.settingsSelect {
    border: none;
    border-radius: 5px;
    padding: 20px 20px;
    cursor: pointer;
}

/* LABELS/DIV ICONS TEXT */
.settingsLabel {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: end;
}

.settingsLabel i, .settingsInput i {
    padding-right: 15px;
    color: #673ab7;
}

/* CONTAINER  FOR INPUTS AND BUTTONS*/
.divSettingsGroup {
    display: flex;
    border-radius: 5px;
}

/*FONT BUTTONS (PLUS/MINUS/RESET) IN SETTINGS*/
.btnFont {
    /*height: 3em;*/
    width: fit-content;
    padding: 15px 13px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btnFont:hover, .btnFont:active, .btnFont:focus {
    color: #673ab7;
}

/* SCROLLBAR (OFF/ON) */
.scrollbarRadioLabel {
    width: fit-content;
    background-color: transparent;
    padding: 10px 24px;
    text-align: center;
    cursor: pointer;
}

.divSettingsGroup input[type=radio]:checked + label {
    color: #673ab7;
    font-weight: 700;
}

.divSettingsGroup input[type=radio]:not(checked) + label {
    color: #808080;
}
