/* MODAL BODY CONTAINER */
.flex-container-tools {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

.flex-items-tools:nth-child(1) {
    display: flex;
    align-items: baseline;
    width: 100%;
    padding: 20px;
    box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.35);
}

.flex-items-tools:nth-child(2) {
    display: flex;
    align-items: baseline;
    width: 100%;
    padding: 20px;
    box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.35);
}

.flex-items-tools:nth-child(3) {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.35);
}

/* SELECT DESIGN */
.settingsSelect {
    width: 150px;
    height: 3em;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 1px 3px 2px rgba(0, 0, 0, 0.35);
}

/* INPUT DESIGN */
.settingsInput {
    width: 70px;
    height: 3em;
    text-align: center;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 4px 2px 1px -3px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

.settingsInput::placeholder {
    color: #000000;
    font-weight: 700;
}

/* HIDE ARROWS IN INPUT TYPE NUMBER ARROW */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* LABELS ICONS TEXT */
.settingsLabel {
    display: flex;
    align-items: end;
    width: 150px;
    font-weight: 700;
    margin-right: 5px;
}

.settingsLabel i, .settingsInput i {
    padding-right: 15px;
    color: #673ab7;
}

.fontGroup {
    display: flex;
    border-radius: 5px;
    box-shadow: 2px 1px 3px 2px rgba(0, 0, 0, 0.35);
}

/* BUTTONS FONT */
.btnFont {
    height: 3em;
    width: 40px;
    background-color: transparent;
    color: #673ab7;;
    border: none;
    box-shadow: 4px 2px 1px -3px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

.btnFont:hover, .btnFont:active, .btnFont:focus {
    color: #000000;;
}
