/*************************** LIGHT ********************************************/
.light {
    background-color: #FFFFFF;
    color: #000000;
}

/*HEADER*/
.header-light {
    background-color: #FFFFFF;
    color: #000000;
    box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.35);
}

/*MODAL*/
.modal-light {
    background: rgba(0, 0, 0, 0.5);
}

/*ITEMS IN MODAL*/
.flex-items-tools-light {
    box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.35);
}

/*SELECT IN SETTINGS*/
.settingsSelect-light {
    background-color: #FFFFFF;
    color: #000000;
    box-shadow: 2px 1px 3px 2px rgba(0, 0, 0, 0.35);
}

/* CONTAINER FOR INPUT & BUTTONS */
.fontGroup-light {
    box-shadow: 2px 1px 3px 2px rgba(0, 0, 0, 0.35);
}

/*INPUT IN SETTINGS*/
.settingsInput-light {
    background-color: #FFFFFF;
    color: #000000;
    box-shadow: 4px 2px 1px -3px rgba(0, 0, 0, 0.35);
}

.settingsInput-light::placeholder {
    color: #000000;
}

/*BUTTONS +- IN SETTINGS*/
.btnFont-light {
    box-shadow: 4px 2px 1px -3px rgba(0, 0, 0, 0.35);
}

/*************************** DARK ********************************************/
.dark {
    background-color: #000000;
    color: #FFFFFF;
}

/*HEADER*/
.header-dark {
    background-color: #000000;
    color: #FFFFFF;
    box-shadow: 3px 3px 3px -1px rgba(255, 255, 255, 0.35);
}

/*MODAL*/
.modal-dark {
    background: rgba(255, 255, 255, 0.5);
}

/*ITEMS IN MODAL*/
.flex-items-tools-dark {
    box-shadow: 3px 3px 3px -1px rgba(255, 255, 255, 0.35);
}

/*SELECT IN SETTINGS*/
.settingsSelect-dark {
    background-color: #000000;
    color: #FFFFFF;
    box-shadow: 2px 1px 3px 2px rgba(255, 255, 255, 0.35);
}

/* CONTAINER FOR INPUT & BUTTONS */
.fontGroup-dark {
    box-shadow: 2px 1px 3px 2px rgba(255, 255, 255, 0.35);
}

/*INPUT IN SETTINGS*/
.settingsInput-dark {
    background-color: #000000;
    color: #FFFFFF;
    box-shadow: 4px 2px 1px -3px rgba(255, 255, 255, 0.35);
}

.settingsInput-dark::placeholder {
    color: #FFFFFF;
}

/*BUTTONS +- IN SETTINGS*/
.btnFont-dark {
    box-shadow: 4px 2px 1px -3px rgba(255, 255, 255, 0.35);
}